#FMU
*.fmu
*.FMU
!test_fmu.fmu

*.csv
/caseDict_imported_from_*
/OspSystemStructure.xml
/statisticsDict
/SystemStructure.ssd
/watchDict
/results
*callGraph*


*.xml
!test_import_OspSystemStructure.xml
!test_fmu*.xml
*.ssd
/caseDict_imported_from_test_import_OspSystemStructure_xml